@font-face {
  font-family: 'mplus-1p-regular';
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.ttf") format("truetype");
}

.l-mainvisual {
  background-color: lightgrey;
}

.p-contents {
  background-color: pink;
}

.l-contents__item--bg {
  background-color: lightblue;
}

#modal-html {
  display: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h1 > p {
  font-family: mplus-1m-bold, sans-serif;
  height: 100%;
  font-size: 36px;
  color: #ffffff;
}

h1 > p, h1 > p > p {
  font-size: 16px;
}

footer {
  font-family: mplus-1m-regular, sans-serif;
}

.l-mainvisual {
  grid-column: 1 / -1;
  grid-row: 2;
  height: 285px;
  width: 100%;
  --side: 25px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: repeat(3, auto);
  align-content: center;
}

.l-mainvisual h1, .l-mainvisual h1 > p {
  grid-column: 2;
  grid-row: 2;
}

.archive .l-mainvisual {
  grid-template-rows: repeat(4, auto);
}

.archive .l-mainvisual p {
  grid-column: 2;
  grid-row: 3;
}

.l-main {
  grid-column: 2;
  grid-row: 4;
}

.l-contents {
  display: grid;
  row-gap: 20px;
}

.l-contents__item {
  height: 642px;
  --side: 10px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: 25px auto var(--side) auto auto var(--side);
}

.l-contents__item h2 {
  grid-column: 2;
  grid-row: 2;
}

.l-contents__item--card {
  grid-column: 2;
  grid-row: 5 / 6;
  display: grid;
  row-gap: 10px;
}

.archive .l-contents {
  grid-template-rows: none;
}

.archive .l-contents__item {
  grid-template-rows: 230px 25px 70px auto;
}

.archive .l-contents__item--bg {
  grid-column: 1 / -1;
  grid-row: 1;
}

.archive .l-contents__item h2 {
  grid-row: 3;
}

.archive .l-contents__item--card {
  grid-row: 4;
  grid-template-rows: none;
}

.l-access {
  grid-column: 1 / -1;
  grid-row: 6;
  height: 691px;
  grid-template-rows: 415px 1fr;
  display: grid;
}

.l-access__txtbox {
  line-height: 2;
  overflow: scroll;
  background-color: #000000;
  opacity: 0.6;
  --side: 40px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: 80px 30px auto;
}

.l-access__txtbox h2 {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}

.l-access__txtbox p {
  grid-column: 2;
  grid-row: 3;
}

.l-access__space {
  background-color: #000000;
  opacity: 0.3;
}

.l-pagination {
  --side:50px;
  display: grid;
  grid-template-rows: 60px 60px;
  color: #707070;
}

.l-footer {
  height: 150px;
  grid-column: 1 / -1;
  grid-row: 7;
}

.l-footer__wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.l-footer ul {
  gap: 20px;
}

.l-header {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: #FFF7EF;
  --side: 20px;
  --center: 45px;
  display: grid;
  grid-template-columns: var(--side) auto 60px var(--side);
  grid-template-rows: var(--side) auto auto auto var(--center) auto var(--center);
}

.l-header__btn {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
}

.l-header a {
  grid-column: 2 / 4;
  grid-row: 4;
  text-align: center;
}

.l-header__form {
  column-gap: 10px;
  grid-column: 2 / 4;
  grid-row: 6;
}

.l-sidebar {
  width: 100vw;
  height: 100vh;
  right: 100%;
  display: grid;
  grid-template-columns: 45px auto;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  position: absolute;
  z-index: 100;
}

.l-sidebar__side-box {
  grid-column: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.l-sidebar__menu-box {
  grid-column: 2;
  background-color: #F2EDE9;
  display: grid;
  grid-template-columns: 45px auto 35px 15px;
  grid-template-rows: 20px 45px 160px auto;
}

.l-sidebar__menu-box--xbtn {
  grid-column: 4;
  grid-row: 2;
  margin-left: -40px;
}

.l-sidebar__menu-box--nav {
  grid-column: 2;
  grid-row: 4;
  padding-bottom: 500px;
}

.is-open .l-sidebar {
  right: 0;
}

body.is-open {
  position: fixed;
}

.c-btn--menu {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #707070;
}

.c-btn--search {
  font-family: mplus-1m-bold, sans-serif;
  width: 78px;
  height: 46px;
  font-size: 16px;
  cursor: pointer;
  background: #F2EDE9;
  border: 1px solid #707070;
  color: #707070;
  border-radius: 10px;
}

.c-btn--sidex__line {
  position: relative;
}

.c-btn--sidex__line::before {
  transform: rotate(45deg);
}

.c-btn--sidex__line::after {
  transform: rotate(-45deg);
}

.c-btn--sidex__line::before, .c-btn--sidex__line::after {
  width: 32px;
  height: 4px;
  content: "";
  position: absolute;
  display: block;
  background: #707070;
  transition: transform 0.2s;
}

input[type="checkbox"] {
  display: none;
}

.c-card {
  color: #3C2A10;
  background-color: #ffffff;
  opacity: 0.5;
  display: grid;
  grid-template-rows: 100px 1fr;
  white-space: nowrap;
  padding-left: 10px;
}

.c-card dt {
  padding-top: 25px;
  font-family: mplus-1m-bold, sans-serif;
  font-size: 22px;
}

.c-card dd {
  padding-top: 30px;
  font-family: mplus-1m-regular, sans-serif;
  white-space: normal;
  font-size: 16px;
}

.archive .c-card {
  grid-template-columns: auto 50px;
  grid-template-rows: auto auto;
  color: #ffffff;
  background-color: transparent;
  opacity: 1;
  padding: 0;
}

.archive .c-card dt {
  padding: 0;
}

.archive .c-card__miru-btn {
  grid-column: 1;
  grid-row: 2;
  height: 40px;
  width: 160px;
  margin: 0 auto;
  background: #ffffff;
  color: #707070;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 60px;
  padding: 0 25px;
  transition: background-color .8s;
}

.c-pagination {
  grid-row: 2;
  align-self: start;
}

.c-pagination--prev {
  padding-left: 30px;
}

.c-pagination--prev::before, .c-pagination--prev::after {
  grid-column: 1;
  position: absolute;
  display: inline-block;
  content: '';
  transform: translateY(-50%) rotate(45deg);
  margin-top: 10px;
  width: 15px;
  height: 15px;
  left: 25px;
  border-bottom: 1px double #707070;
  border-left: 1px double #707070;
}

.c-pagination--prev::after {
  grid-column: 1;
  left: 35px;
}

.c-pagination--next {
  padding-right: 30px;
}

.c-pagination--next::before, .c-pagination--next::after {
  grid-column: 5;
  position: absolute;
  display: inline-block;
  content: '';
  transform: translateY(-50%) rotate(45deg);
  margin-top: 10px;
  width: 15px;
  height: 15px;
  right: 25px;
  border-top: 1px double #707070;
  border-right: 1px double #707070;
}

.c-pagination--next::after {
  grid-column: 5;
  right: 35px;
}

.c-grid {
  --side: 20px;
  display: grid;
  grid-template-columns: var(--side) 1fr var(--side);
  grid-template-rows: auto auto 20px auto 50px auto auto;
}

.archive .c-grid {
  grid-template-rows: repeat(6, auto);
}

.p-searchform {
  height: 46px;
  width: 230px;
  padding-top: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 10px;
}

input[type="text"] {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  padding: 18px;
}

input[type="text"]::placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #808080;
}

.p-contents h2 {
  position: relative;
  font-size: 41px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.p-contents h2::before {
  grid-column: 2;
  grid-row: 3 / 4;
  position: absolute;
  display: inline-block;
  content: '';
  background-color: #ffffff;
  width: 30px;
  height: 5px;
  margin: 60px 0;
}

.archive .p-contents {
  background-color: #3C2A10;
}

.archive .p-contents h2 {
  font-size: 30px;
}

.archive .p-contents h2::before {
  display: none;
}

.p-access {
  color: #ffffff;
}

.p-access h2 {
  font-size: 30px;
  position: relative;
}

.p-access h2::before {
  grid-column: 2;
  grid-row: 2;
  width: 80px;
  height: 2px;
  position: absolute;
  display: inline-block;
  content: '';
  background-color: #ffffff;
  margin: 70px 0;
}

.p-footer {
  background-image: url(../images/footer.png);
  background-size: 100%;
  color: #ffffff;
}

.p-footer li {
  font-size: 20px;
}

.p-footer li:first-child::after {
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  content: '';
  width: 1.5px;
  height: 18px;
  margin-top: 1%;
  margin-left: 10px;
}

.p-footer small {
  display: block;
  font-size: 14px;
}

.p-gmenu__has a {
  font-family: mplus-1m-bold, sans-serif;
  color: #707070;
  text-decoration: none;
  font-size: 24px;
  line-height: 4;
}

.p-gmenu__sub a {
  font-family: mplus-1m-regular, sans-serif;
  color: #707070;
  padding-left: 20px;
  font-size: 20px;
  line-height: 3;
}

.p-page-ttl {
  color: #707070;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.u-display--center {
  display: flex;
  justify-content: center;
}

.u-display--between {
  display: flex;
  justify-content: space-between;
}

.u-display--col {
  display: flex;
  flex-direction: column;
}

.u-display--col--align {
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */