@font-face {
  font-family: 'mplus-1p-regular';
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.ttf") format("truetype");
}

.Kari {
  background-color: pink;
}

#modal-html {
  display: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h1 > p {
  font-family: mplus-1m-bold, sans-serif;
  height: 100%;
  font-size: 36px;
  color: #ffffff;
}

h1 > p, h1 > p > p {
  font-size: 16px;
}

footer {
  font-family: mplus-1m-regular, sans-serif;
}

.l-mainvisual {
  grid-column: 1 / -1;
  grid-row: 2;
  width: 100vw;
  height: 285px;
  object-fit: cover;
  --side: 25px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: repeat(3, auto);
  align-content: center;
}

@media (min-width: 900px) {
  .l-mainvisual {
    grid-column: 1 / -3;
    height: 530px;
    width: 100%;
  }
}

.l-mainvisual h1, .l-mainvisual h1 > p {
  grid-column: 2;
  grid-row: 2;
}

.archive .l-mainvisual {
  grid-template-rows: repeat(4, auto);
}

.archive .l-mainvisual p {
  grid-column: 2;
  grid-row: 3;
}

.l-main {
  grid-column: 2;
  grid-row: 4;
}

@media (min-width: 900px) {
  .l-main {
    grid-column: 1 / -2;
  }
}

.l-contents--wrap {
  justify-content: center;
  display: grid;
  row-gap: 20px;
}

@media (min-width: 641px) {
  .l-contents--wrap {
    grid-auto-flow: column;
    column-gap: 20px;
  }
}

@media (min-width: 900px) {
  .l-contents--wrap {
    grid-template-columns: repeat(2, auto);
    column-gap: calc(20px*2);
  }
}

.l-contents--wrap__item {
  height: 643px;
  display: grid;
  grid-template-columns: auto 336px auto;
  grid-template-rows: 25px auto 10px auto auto 10px;
}

.l-contents--wrap__item h2 {
  grid-column: 2;
  grid-row: 2;
  padding-left: 10px;
}

.l-contents--wrap__item--card {
  grid-column: 2;
  grid-row: 5 / 6;
  display: grid;
  row-gap: 10px;
}

.archive .l-contents--wrap {
  grid-template-rows: none;
}

.archive .l-contents--wrap__item {
  grid-template-rows: 230px 25px 70px auto;
}

.archive .l-contents--wrap__item--bg {
  grid-column: 1 / -1;
  grid-row: 1;
}

.archive .l-contents--wrap__item--bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.archive .l-contents--wrap__item h2 {
  grid-row: 3;
}

.archive .l-contents--wrap__item--card {
  grid-row: 4;
  grid-template-rows: none;
}

.l-access {
  grid-column: 1 / -1;
  grid-row: 6;
  height: 643px;
  display: grid;
}

@media (min-width: 641px) {
  .l-access {
    height: 400px;
  }
}

@media (min-width: 900px) {
  .l-access {
    grid-template-columns: auto 322px;
  }
}

.l-access__map, .l-access__txtbox {
  grid-column: 1 / -1;
  grid-row: 1;
  width: 100%;
}

@media (min-width: 900px) {
  .l-access__map, .l-access__txtbox {
    grid-column: 1 / -2;
  }
}

.l-access__txtbox {
  width: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
}

@media (min-width: 641px) {
  .l-access__txtbox {
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
  }
}

.l-access__txtbox--box {
  grid-row: 1;
  grid-column: 1 / -1;
  background-color: #000000;
  opacity: 0.6;
}

@media (min-width: 641px) {
  .l-access__txtbox--box {
    grid-column: 1 / -1;
  }
}

@media (min-width: 900px) {
  .l-access__txtbox--box {
    grid-column: 1;
  }
}

.l-access__txtbox--space {
  grid-row: 2;
  grid-column: 1 / -1;
  background-color: #000000;
  opacity: 0.3;
}

@media (min-width: 641px) {
  .l-access__txtbox--space {
    display: none;
  }
}

@media (min-width: 900px) {
  .l-access__txtbox--space {
    display: block;
    grid-row: 1;
    grid-column: 2;
  }
}

.l-access__txtbox--box {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 80px 30px auto;
}

.l-access__txtbox--box h2 {
  grid-row: 1;
  grid-column: 2;
  align-self: flex-end;
}

.l-access__txtbox--box p {
  grid-row: 3;
  grid-column: 2;
  line-height: 2;
  overflow: scroll;
}

@media (min-width: 641px) {
  .l-access__txtbox--box p {
    overflow: visible;
  }
}

.l-pagination {
  display: grid;
  grid-template-rows: 60px 60px;
  color: #707070;
}

.l-post {
  display: grid;
  grid-template-rows: 70px 35px auto auto 20px;
}

.l-post h2 {
  grid-row: 1;
  align-self: end;
  font-size: 28px;
}

.l-post p {
  grid-row: 3;
  font-size: 16px;
  line-height: 1.5;
}

.l-post__cont {
  grid-row: 4;
  margin-top: 20px;
}

.l-post__cont--ttl {
  margin-top: 20px;
}

.l-feature {
  --side: 20px;
}

.l-feature__eye-catch {
  width: calc(100vw - (var(--side) * 2));
  height: 124px;
}

.l-feature__last-img {
  display: grid;
  grid-template-rows: 15px auto 30px;
  justify-content: center;
}

.l-feature__last-img--wrap {
  grid-row: 2;
  width: 270px;
  height: 170px;
}

.l-feature__last-img img {
  width: 100%;
  height: 100%;
}

.l-feature--cont {
  --side: 15px;
  display: grid;
  grid-template-columns: auto var(--side) var(--side) auto;
  grid-template-rows: 30px auto 20px;
}

.l-feature--cont__figure01, .l-feature--cont__figure02 {
  width: 170px;
  height: 120px;
}

.l-feature--cont__figure01 {
  grid-column: 1;
  grid-row: 2;
}

.l-feature--cont__txt01 {
  grid-column: 3 / -1;
  grid-row: 2;
}

.l-feature--cont__figure02 {
  grid-column: 4;
  grid-row: 2;
}

.l-feature--cont__txt02 {
  grid-column: 1 / 3;
  grid-row: 2;
}

.l-gallery {
  --side: 20px;
  display: grid;
  row-gap: var(--side);
}

.l-gallery__img {
  width: calc(100vw - (var(--side) * 2));
  height: 205px;
}

.l-gallery__img img {
  width: 100%;
}

.l-setting {
  margin-top: 50px;
  font-family: mplus-1m-regular, sans-serif;
  color: #3C2A10;
}

.l-setting--list {
  padding-left: 50px;
  margin-top: 20px;
}

.l-setting--list ol {
  padding-left: 20px;
  padding-top: 10px;
}

.l-setting--list ul {
  padding-top: 10px;
}

.l-setting--list__ul {
  padding-left: 20px;
}

.l-setting--box {
  margin: 50px auto 0 auto;
  width: 100%;
  height: 237px;
  background-color: #F5F5F5;
  position: relative;
}

.l-setting--box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.l-setting--tbl {
  margin-top: 50px;
  font-family: mplus-1m-regular, sans-serif;
  font-size: 16px;
  border-collapse: collapse;
  border: none;
  width: 100%;
}

.l-setting--tbl td {
  height: 77px;
  padding: 10px 20px;
}

.l-setting--tbl__tr--item {
  width: 60%;
}

.l-setting--btn {
  margin-top: 50px;
  width: 100%;
  height: 80px;
  font-family: mplus-1m-bold, sans-serif;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to top, #DED8D3, #F2EDE9);
  border: 1px solid #707070;
  color: #707070;
  border-radius: 20px;
}

.l-setting--bold {
  margin-top: 50px;
  font-family: mplus-1m-bold, sans-serif;
}

.l-footer {
  height: 150px;
  grid-column: 1 / -1;
  grid-row: 7;
  z-index: 100;
}

.l-footer__wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.l-footer ul {
  gap: 20px;
}

.l-header {
  grid-column: 1 / -1;
  grid-row: 1;
  background-color: #FFF7EF;
  --side: 20px;
  --center: 45px;
  display: grid;
  grid-template-columns: var(--side) auto 60px var(--side);
  grid-template-rows: var(--side) auto auto auto var(--center) auto var(--center);
}

@media (min-width: 900px) {
  .l-header {
    grid-column: 1 / -2;
  }
}

.l-header__btn {
  grid-column: 3;
  grid-row: 2;
}

.l-header a {
  grid-column: 2 / 4;
  grid-row: 4;
  text-align: center;
}

.l-header__form {
  column-gap: 10px;
  grid-column: 2 / 4;
  grid-row: 6;
}

@media (min-width: 900px) {
  .l-header {
    grid-template-columns: 50px auto auto 20px;
    grid-template-rows: repeat(3, 1fr);
  }
  .l-header__btn {
    display: none;
  }
  .l-header a {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }
  .l-header__form {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
  }
}

.l-sidebar {
  width: 100vw;
  right: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  z-index: 100;
  display: grid;
  grid-template-columns: 45px auto;
  overflow-y: scroll;
}

.l-sidebar__side-box {
  grid-column: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.l-sidebar__menu-box {
  grid-column: 2;
  background-color: #F2EDE9;
  display: grid;
  grid-template-columns: 45px auto 35px 15px;
  grid-template-rows: 20px 45px auto;
}

.l-sidebar__menu-box {
  height: 100vh;
}

.l-sidebar__menu-box--xbtn {
  grid-column: 3;
  grid-row: 2;
  text-align: left;
}

.l-sidebar__menu-box--nav {
  grid-column: 2;
  grid-row: 4;
  padding-bottom: 500px;
}

.is-open .l-sidebar {
  right: 0;
}

body.is-open {
  position: fixed;
}

@media (min-width: 900px) {
  .l-sidebar {
    grid-column: 4;
    grid-row: 1 / -2;
    grid-template-columns: 0 322px;
    right: 0;
    width: 322px;
    padding-bottom: 0;
    overflow-y: visible;
    z-index: unset;
  }
  .l-sidebar__side-box {
    background-color: #F2EDE9;
  }
  .l-sidebar__menu-box--xbtn {
    display: none;
  }
}

.c-btn--menu {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #707070;
}

.c-btn--search {
  font-family: mplus-1m-bold, sans-serif;
  width: 78px;
  height: 46px;
  font-size: 16px;
  cursor: pointer;
  background: #F2EDE9;
  border: 1px solid #707070;
  color: #707070;
  border-radius: 10px;
}

.c-btn--sidex__line {
  position: relative;
}

.c-btn--sidex__line::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 32px;
  height: 4px;
  background: #707070;
  transition: transform 0.2s;
  transform: rotate(45deg);
}

.c-btn--sidex__line::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 32px;
  height: 4px;
  background: #707070;
  transition: transform 0.2s;
  transform: rotate(-45deg);
}

input[type="checkbox"] {
  display: none;
}

.c-card {
  color: #3C2A10;
  background-color: #ffffff;
  opacity: 0.5;
  width: 316px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  white-space: nowrap;
  padding: 0 10px 0 10px;
}

.c-card dt {
  padding-top: 25px;
  font-family: mplus-1m-bold, sans-serif;
  font-size: 22px;
}

.c-card dd {
  padding-top: 30px;
  font-family: mplus-1m-regular, sans-serif;
  white-space: normal;
  font-size: 16px;
}

.archive .c-card {
  grid-template-columns: auto 50px;
  grid-template-rows: auto auto;
  color: #ffffff;
  background-color: transparent;
  opacity: 1;
  padding: 0;
}

.archive .c-card dt {
  padding: 0;
}

.archive .c-card__miru-btn {
  grid-column: 1;
  grid-row: 2;
  height: 40px;
  width: 160px;
  margin: 0 auto;
  background: #ffffff;
  color: #707070;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 60px;
  padding: 0 25px;
  transition: background-color .8s;
}

.c-pagination {
  grid-row: 2;
  align-self: start;
  --padding: 30px;
  --ya-soto: 25px;
  --ya-naka: 35px;
  --border-size: 1px;
}

.c-pagination--prev {
  padding-left: var(--padding);
}

.c-pagination--prev::before, .c-pagination--prev::after {
  grid-column: 1;
  position: absolute;
  display: inline-block;
  content: '';
  transform: translateY(-50%) rotate(45deg);
  border-color: #707070;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  border-style: solid;
  left: var(--ya-soto);
  border-top: var(--border-size);
  border-right: var(--border-size);
}

.c-pagination--prev::after {
  grid-column: 1;
  left: var(--ya-naka);
}

.c-pagination--next {
  padding-right: var(--padding);
}

.c-pagination--next::before, .c-pagination--next::after {
  grid-column: 5;
  position: absolute;
  display: inline-block;
  content: '';
  transform: translateY(-50%) rotate(45deg);
  border-color: #707070;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  border-style: solid;
  right: var(--ya-soto);
  border-bottom: var(--border-size);
  border-left: var(--border-size);
}

.c-pagination--next::after {
  grid-column: 5;
  right: var(--ya-naka);
}

.c-grid {
  --side: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 20px auto 50px auto auto;
}

@media (min-width: 900px) {
  .c-grid {
    grid-template-columns: auto 1fr auto 322px;
  }
}

.archive .c-grid {
  grid-template-rows: repeat(6, auto);
}

.single .c-grid {
  grid-template-rows: auto auto 20px auto 125px auto;
}

.p-page-ttl {
  color: #707070;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.p-searchform {
  height: 46px;
  width: 230px;
  padding-top: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 10px;
}

input[type="text"] {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  padding: 18px;
}

input[type="text"]::placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #808080;
}

.p-mainvisual {
  background-image: url(../images/home_mainvisual.png);
  background-size: 100%, cover;
  background-position: center;
}

@media (min-width: 900px) {
  .p-mainvisual {
    background-image: url(../images/home_mainvisual_pc.png);
    background-size: auto 530px, cover;
  }
}

.archive .p-mainvisual,
.archive_search .p-mainvisual {
  background-image: url(../images/archive_mainvisual.png);
  background-size: 200%, contain;
  background-position: left;
}

.page .p-mainvisual {
  background-image: url(../images/page_mainvisual.png);
  background-size: 100%, contain;
  background-position: left;
}

.single .p-mainvisual {
  background-image: url(../images/single_mainvisual.png);
  background-size: 100%, contain;
  background-position: left;
}

.p-post h2 {
  font-size: 28px;
}

.p-post p {
  font-size: 16px;
}

.p-post__blockquote {
  margin-top: 20px;
  padding: 35px;
  position: relative;
  box-sizing: border-box;
  font-family: mplus-1m-regular, sans-serif;
  font-size: 16px;
  background: #F5F5F5;
  color: #3C2A10;
}

.p-post__blockquote p {
  line-height: 1.7;
}

.p-post__blockquote--cite {
  padding-top: 40px;
  display: block;
  font-style: normal;
}

.p-post__blockquote--cite a {
  text-decoration: underline;
}

.p-contents.takeout {
  background-image: url("../images/home_takeout.png");
  background-size: 120%, contain;
  background-position: center;
}

.p-contents.eat-in {
  background-image: url("../images/home_eat-in.png");
  background-size: 120%, contain;
  background-position: center;
}

.p-contents {
  width: 336px;
}

.p-contents h2 {
  position: relative;
  font-size: 41px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.p-contents h2::before {
  grid-column: 2;
  grid-row: 3 / 4;
  position: absolute;
  display: inline-block;
  content: '';
  background-color: #ffffff;
  width: 30px;
  height: 5px;
  margin: 60px 0;
}

.archive .p-contents {
  background-color: #3C2A10;
}

.archive .p-contents h2 {
  font-size: 25px;
}

.archive .p-contents h2::before {
  display: none;
}

.p-access {
  color: #ffffff;
}

.p-access h2 {
  font-size: 30px;
  position: relative;
}

.p-access h2::before {
  grid-column: 2;
  grid-row: 2;
  width: 80px;
  height: 2px;
  position: absolute;
  display: inline-block;
  content: '';
  background-color: #ffffff;
  margin: 60px 0;
}

.p-footer {
  background-image: url(../images/footer.png);
  background-size: 100%;
  color: #ffffff;
}

.p-footer li {
  font-size: 20px;
}

.p-footer li:first-child::after {
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  content: '';
  width: 1.5px;
  height: 18px;
  margin-top: 1%;
  margin-left: 10px;
}

.p-footer small {
  display: block;
  font-size: 14px;
}

.p-gmenu__has a {
  font-family: mplus-1m-bold, sans-serif;
  color: #707070;
  text-decoration: none;
  font-size: 24px;
  line-height: 4;
}

.p-gmenu__sub a {
  font-family: mplus-1m-regular, sans-serif;
  color: #707070;
  padding-left: 20px;
  font-size: 20px;
  line-height: 3;
}

.u-display--center {
  display: flex;
  justify-content: center;
}

.u-display--between {
  display: flex;
  justify-content: space-between;
}

.u-display--col {
  display: flex;
  flex-direction: column;
}

.u-display--col--align {
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */