@font-face {
  font-family: 'mplus-1p-regular';
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1p-regular.ttf") format("truetype");
}

.l-mainvisual {
  background-color: lightgrey;
}

.p-contents {
  background-color: pink;
}

html,
body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: mplus-1m-bold, sans-serif;
  height: 100%;
  font-size: 36px;
  color: #ffffff;
}

footer {
  font-family: mplus-1m-regular, sans-serif;
}

.l-mainvisual {
  grid-column: 1 / -1;
  grid-row: 2;
  height: 285px;
  width: 100%;
  --side: 25px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: repeat(3, auto);
  align-content: center;
}

.l-mainvisual h1 {
  grid-column: 2;
  grid-row: 2;
}

.l-main {
  grid-column: 2;
  grid-row: 4;
}

.l-article {
  display: grid;
  row-gap: 20px;
}

.l-article__contents {
  height: 642px;
  --side: 10px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: 25px auto var(--side) auto auto var(--side);
}

.l-article__contents h2 {
  grid-column: 2;
  grid-row: 2;
}

.l-article__contents-card {
  grid-column: 2;
  grid-row: 5 / 6;
  display: grid;
  row-gap: 10px;
}

.l-access {
  grid-column: 1 / -1;
  grid-row: 6;
  height: 691px;
  grid-template-rows: 415px 1fr;
  display: grid;
}

.l-access__gray-box {
  line-height: 2;
  overflow: scroll;
  --side: 40px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: 80px 30px auto;
}

.l-access__gray-box h2 {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
}

.l-access__gray-box p {
  grid-column: 2;
  grid-row: 3;
}

.l-footer {
  grid-column: 1 / -1;
  grid-row: 7;
  height: 150px;
}

.l-footer__wrapper {
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.l-footer ul {
  gap: 20px;
}

.l-header {
  grid-column: 1 / -1;
  grid-row: 1;
  --side: 20px;
  --center: 45px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: var(--side) auto auto auto var(--center) auto var(--center);
}

.l-header__btn {
  grid-column: 2;
  grid-row: 2;
  text-align: right;
}

.l-header p {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
}

.l-header__form {
  column-gap: 10px;
  grid-column: 2;
  grid-row: 6;
}

.l-sidebar {
  width: 100vw;
  left: 100%;
  display: grid;
  grid-template-columns: 45px auto;
  grid-template-rows: 215px auto auto;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  z-index: 100;
}

.l-sidebar__gray-box {
  grid-column: 1;
  grid-row: 1 / -1;
  background-color: rgba(0, 0, 0, 0.5);
}

.l-sidebar__ttl {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  background-color: #F2EDE9;
}

.l-sidebar__nav {
  grid-column: 2;
  grid-row: 2 / 3;
  background-color: #F2EDE9;
}

.l-sidebar__bottom {
  height: 100vh;
  grid-column: 2;
  grid-row: 3 / 4;
  background-color: #F2EDE9;
}

.is-open .l-sidebar {
  left: 0;
}

.c-btn--menu {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.c-btn--search {
  font-family: mplus-1m-bold, sans-serif;
  width: 78px;
  height: 46px;
  font-size: 16px;
  cursor: pointer;
  background: #f2ede9;
  border: 1px solid #707070;
  color: #707070;
  border-radius: 10px;
}

.c-btn--sidex {
  width: 32px;
}

.c-btn--sidex__line {
  position: relative;
}

.c-btn--sidex__line::before, .c-btn--sidex__line::after {
  width: 32px;
  height: 4px;
  content: "";
  position: absolute;
  display: block;
  background: #707070;
  transition: transform 0.2s;
  margin-left: 410px;
}

.c-btn--sidex__line::before {
  transform: rotate(45deg);
}

.c-btn--sidex__line::after {
  transform: rotate(-45deg);
}

input[type="checkbox"] {
  display: none;
}

.c-card__contents {
  background-color: #ffffff;
  opacity: 0.5;
  display: grid;
  grid-template-columns: 10px auto 10px;
  grid-template-rows: 45px 25px auto;
}

.c-card__contents h3 {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  font-family: mplus-1m-bold, sans-serif;
  font-size: 22px;
}

.c-card__contents p {
  grid-column: 2;
  grid-row: 3;
  align-self: flex-start;
  font-family: mplus-1m-regular, sans-serif;
  font-size: 16px;
}

.c-grid {
  --side: 20px;
  display: grid;
  grid-template-columns: var(--side) 1fr var(--side);
  grid-template-rows: auto auto 20px auto 50px auto auto;
}

.p-searchform {
  height: 46px;
  width: 230px;
  padding-top: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #707070;
  background-color: #ffffff;
  border-radius: 10px;
}

input[type="text"] {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  padding: 18px;
}

input[type="text"]::placeholder {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #808080;
}

.p-contents h2 {
  font-size: 41px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #ffffff;
}

.p-contents h2::before {
  width: 30px;
  height: 5px;
  grid-column: 2;
  grid-row: 3 / 4;
  position: absolute;
  display: inline-block;
  content: '';
  background-color: #ffffff;
  margin: 60px 0;
}

.p-access {
  color: #fff;
}

.p-access h2 {
  font-size: 30px;
  position: relative;
}

.p-access h2::before {
  grid-column: 2;
  grid-row: 2;
  width: 80px;
  height: 2px;
  position: absolute;
  display: inline-block;
  content: '';
  background-color: #ffffff;
  margin: 70px 0;
}

.p-footer {
  background-image: url("../images/footer.png");
  background-size: 100%;
  color: #ffffff;
}

.p-footer li {
  font-size: 20px;
}

.p-footer li:first-child::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 1.5px;
  height: 18px;
  background-color: #ffffff;
  margin-top: 1%;
  margin-left: 10px;
}

.p-footer small {
  display: block;
  font-size: 14px;
}

.p-gmenu {
  padding-left: 30px;
  background-color: #F2EDE9;
}

.p-gmenu__has a {
  font-family: mplus-1m-bold, sans-serif;
  font-size: 24px;
  color: #707070;
}

.p-gmenu__sub a {
  font-family: mplus-1m-regular, sans-serif;
  font-size: 20px;
  color: #707070;
  line-height: 2;
}

.p-page-ttl {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.u-color--header {
  background-color: #FFF7EF;
  color: #707070;
}

.u-color--gray-box,
.u-color--light-box {
  background-color: #000000;
}

.u-color--gray-box {
  opacity: 0.6;
}

.u-color--light-box {
  opacity: 0.3;
}

.u-display--center {
  display: flex;
  justify-content: center;
}

.u-display--col {
  display: flex;
  flex-direction: column;
}

.u-display--col--align {
  display: flex;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */