//---------------------
// 投稿用のスタイリング
//---------------------
.wp-block {
  
  &-columns,
  &-media-text {
    --side: 20px;
    --gap: 10px;

    display: grid;
    width: calc(100vw - (var(--side) * 2) - var(--gap));
    grid-template-columns: 50% 50%;
    column-gap: var(--gap);

    @include breakpoint( pc ) {
      --gap: 20px;

      grid-template-columns: 49% 49%;
      width: calc(100vw - (var(--side) * 2) - var(--gap));
      column-gap: var(--gap);
    }
    
    figure {
      width: 100%;
    }
  }
}







// .p-feature{
//   &--cont {
//     --side: 15px;
//     display: grid;
//     grid-template-columns: auto var(--side) var(--side) auto;
//     grid-template-rows: 30px auto 20px;
  
//     img {
//       width: 100%;
//       height: auto;
//     }

//     &__figure01,
//     &__figure02 {
//       width: 100%;
//       height: 56.25%;
//     }
  
//     &__figure01 {
//       grid-column: 1;
//       grid-row: 2;
//     }
  
//     &__txt01 {
//       grid-column: 3 / -1;
//       grid-row: 2;
//     }
  
//     &__figure02 {
//       grid-column: 4;
//       grid-row: 2;
//     }
  
//     &__txt02 {
//       grid-column: 1 / 3;
//       grid-row: 2;
//     }
//   }
// }

// <section class="p-feature--cont">
//   <figure class="p-feature--cont__figure01"><img src="<?php echo get_template_directory_uri(); ?>/images/single02.png" alt=""></figure>
//   <p class="p-feature--cont__txt01">
//     テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
//   </p>
// </section>