// -----------------------------------------
// ボックス
// -----------------------------------------
// .c-box
.wp-block-group {
  --side: 20px;

  height: 237px;
  background-color: $setting-box;

  &__inner-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  p {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);//幅100%なのでYだけ効かせる
    text-align: center;
  }
}
