.c-btn--menu {
  @include font-robotto;
  font-size: 20px;
  color: $font-color;
}

.c-btn--search {
  @include font-mplus--bold;
  width: 78px;
  height: 46px;
  font-size: 16px;
  cursor: pointer;
  background: $searchBtn-color;
  border: 1px solid $font-color;
  color: $font-color;
  border-radius: 10px;
}

// xボタン：サイドメニュー
.c-btn--sidex {
  // ｘ装飾
  &__line {
    position: relative;

    &::before {
      @include giji-sidex;
      transform: rotate(45deg);
    }

    &::after {
      @include giji-sidex;
      transform: rotate(-45deg);
    }
  }
}

input[type="checkbox"] {
    display: none;// チェックボックスは非表示
}
