.c-btn--menu {
  @include font-robotto;
  font-size: 20px;
  color: $font-color;
}

.c-btn--search {
  @include font-mplus--bold;
  width: 78px;
  height: 46px;
  font-size: 16px;
  cursor: pointer;
  background: #f2ede9;
  border: 1px solid $font-color;
  color: $font-color;
  border-radius: 10px;
}

// xボタン：サイドメニュー
.c-btn--sidex {
  // ｘ装飾
  &__line {
    position: relative;

    &::before,
    &::after {
      width: 32px;
      height: 4px;
      content: "";
      position: absolute;
      display: block;
      background: $font-color;
      transition: transform 0.2s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}


input[type="checkbox"] {
    display: none;// チェックボックスは非表示
}
