.c-btn--menu {
  @include font-robotto;
  font-size: 20px;
}


.c-btn--search {
  @include font-mplus--bold;
  width: 78px;
  height: 46px;
  font-size: 16px;
  cursor: pointer;
  background: #f2ede9;
  border: 1px solid #707070;
  color: #707070;
  border-radius: 10px;
}


// xボタン：サイドメニュー
.c-btn--sidex {
  width: 32px;

  // ｘ装飾
  &__line {
    position: relative;

    &::before,
    &::after {
      width: 32px;
      height: 4px;
      content: "";
      position: absolute;
      display: block;
      background: #707070;
      transition: transform 0.2s;
      margin-left: 410px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}


input[type="checkbox"] {
    display: none;// チェックボックスは非表示
}
