// -----------------------------------------
// 【１ページ目】takeoutとeat-inのカード幅
// -----------------------------------------
.c-card {
  color: $card-fcolor;
  background-color: $contents-color;
  opacity: 0.5;

  width: $img-width - $gap10 * 2;
  margin: 0 auto;
  white-space: normal;
  padding: 0 $gap10 0 $gap10;


  @include breakpoint( tablet ) {
    width: unset;// サイドバーで幅が足りなくなるので、いったん狭くする
  }

  @include breakpoint( pc-wide ) {
    width: $img-width - $gap10 * 2;// 元に戻す
  }

  dt {
    padding-top: 25px;
  }
}



