.c-card {
  color: $card-fcolor;
  background-color: $contents-color;
  opacity: 0.5;

  display: grid;
  grid-template-rows: 100px 1fr;
  white-space: nowrap;
  padding-left: 10px;

  dt {
    padding-top: 25px;
    @include font-mplus--bold;
    font-size: 22px;
  }

  dd {
    padding-top: 30px;
    @include font-mplus--regular;
    white-space: normal;// 改行させる
    font-size: 16px;
  }
}

.archive {
  .c-card {
    grid-template-columns: auto 50px;
    grid-template-rows: auto auto;
    color: $contents-color;
    background-color: transparent;
    opacity: 1;
    padding: 0;

    dt {
      padding: 0;
    }

    &__miru-btn {
      grid-column: 1;
      grid-row: 2;
      @include miru-btn;
    }
  }
}
