// ---------------------------------------------
// YouTube埋め込み用：
// TwitterもなんとかOK
// 他要素に影響出るようなら要検討
// ---------------------------------------------
// 親要素へはjQueryでスタイリング
.p-post {
  iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  }
}

