// ---------------------------------
// 前へ・次へ
// --------------------------------- 
.c-pagination {
  height: 120px;
  font-size: 14px;
  @include font-robotto;
  white-space: nowrap;
  align-items: center;
  color: $font-color;
  text-decoration: none;

  &__page {
    margin: 0 20px;
  }

  &__pre {
    margin-right: 40px;

    @include breakpoint( pc ) {
      margin-right: 20px;
    }

    @include breakpoint( pc-wide ) {
      margin-right: 40px;
    }
  }

  &__next {
    margin-left: 40px;

    @include breakpoint( pc ) {
      margin-left: 20px;
    }

    @include breakpoint( pc-wide ) {
      margin-left: 40px;
    }
  }
}



// ---------------------------------
// 表示設定:前へ・次へ
// --------------------------------- 
.c-pagination {
  &__pre i,
  &__next i {
    font-size: 20px;
    color: $font-color;
    text-decoration: none;
  }


  @include breakpoint( tablet ) {
    &__pre span,
    &__next span {
        display: none;
    }
  }
}


.c-pagination {
  &__pre span,
  &__next span {
    font-size: 20px;
    color: $font-color;
    text-decoration: none;
  }

  &__pre span {
    padding: 0 80px 0 0;
  }

  &__next span {
    padding: 0 0 0 80px;
  }
}


// ---------------------------------
// 番号付きページネーション
// --------------------------------- 
.c-pagination {
  &__numbers {

    li {
      display: inline;
      margin: 0 2px;
      padding: 0;
      display: inline-block;
      background-color:#ffffff;
      border: 1px solid $font-color;
      width: 35px;
      height: 35px;
      text-align: center;
      position: relative;

      @include breakpoint( pc-wide ) {
        width: 50px;
        height: 50px;
      }

      a {
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        display:table;
        text-decoration: none;
        color: $font-color;

        span {
          display:table-cell;
          vertical-align:middle;
        }
      }
    }
  }
}



// ---------------------------------
// スマホのみでの表示設定
// --------------------------------- 
@media only screen and (max-width: 640px){
  .c-pagination {
    &__page,
    &__numbers li {
        display: none;
      }
    }

    &__pre,
    &__next {
      display: inline-block;
      width: 40%;
      height: 50px;
      text-align: center;
    }

    &__next .fas {
      display: inline-block;
    }

    &__pre span,
    &__next span {
      width: 100%;
      text-align: center;
    }
  }



// ---------------------------------
// ホバー時
// --------------------------------- 
.c-pagination {
  &__numbers {
    a:hover,
    a.active {
      color: #FFF;
      background: $card-color;
    }
  }
}