.u-color--header {
  background-color: #FFF7EF;
  color: #707070;
}

.u-color--gray-box,
.u-color--light-box {
  background-color: #000000;
}

.u-color--gray-box {
  opacity: 0.6;
}

.u-color--light-box {
  opacity: 0.3;
}