.u-display {
  &--center {
    display: flex;
    justify-content: center;
  }

  &--between {
    display: flex;
    justify-content: space-between;
  }

  &--col {
    display: flex;
    flex-direction: column;

  &--align {
    display: flex;
    align-items: center;
  }
}
}