.p-access {
  color: $access-color;

  h2 {
    font-size: 30px;
    position: relative;
  }

  h2::before {
    grid-column: 2;
    grid-row: 2;
    width: 80px;
    height: 2px;

    @include giji-line;
    background-color: $access-color;
    margin: 70px 0;
  }
}
