// -----------------------------------------
// 【1ページ目：画像】繰り返し配置
// -----------------------------------------
$bgSetList: takeout takeout, eat-in eat-in;
@each $bgSet in $bgSetList {
  .p-contents.#{nth($bgSet,1)} {
    background-image: url('#{$imgPath}home_#{nth($bgSet,2)}.png');
    background-size: 120%, cover;
    background-position: center;
  }
}


// -----------------------------------------
// 【１ページ目】画像幅＆h2タイトル下のライン
// -----------------------------------------
.p-contents {

  // 幅はビューポートに合わせて計算
  @include breakpoint( tablet ) {
    width: calc((100vw - #{$gap20} * 3) / 2);
  }

  @include breakpoint( pc ) {
    width: 292px;
  }

  @include breakpoint( pc-wide ) {
    width: $img-width;
    // max-width: $img-width;
  }


  h2 {
    position: relative;
    font-size: 41px;
    @include font-robotto;
    color: $contents-color;

    // タイトル下のライン
    &::before {
      grid-column: 2;
      grid-row: 3 / 4;

      @include giji-line;
      background-color: $contents-color;
      width: 30px;
      height: 5px;
      margin: 60px 0;
    }
  }
}


// -----------------------------------------
// 【アーカイブ】コンテンツカード
// -----------------------------------------
.archive,
.search {
  .p-contents {
    width: $img-width;
    max-width: unset;

    // グリッドで対応しているためサイズの解除
    @include breakpoint( tablet ) {
      width: unset;
      height: unset;
    }

    // 100%にしないと幅が足りない：l-contents--wrapの幅も100%にする
    @include breakpoint( pc-wide ) {
      width: 100%;
    }


    h2 {
      font-size: 22px;

      &::before {
        display: none;
      }
    }

    dt {
      font-size: 18px;
    }

    dd {
      display: inline-block;
      line-height: 1.7;
      white-space: normal;// 行を折り返す
    }
  }
}


// -----------------------------------------
// 【アーカイブ】コンテンツカード:画像配置
// -----------------------------------------
.archive,
.search {
  .p-contents{

    // デフォルト画像(imgタグ)
    &__default-bg {
      width: 100%;
      height: 100%;
      object-position: 10%;// 左側に固定
      object-fit: cover;
    }


    // 投稿からの画像配置(divタグ)
    &__post-bg {
      width: 379px;
      height: 264px;

      @include breakpoint( tablet ) {
        width: auto;
        height: 471px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

// -----------------------------------------
// ホバーアクション
// -----------------------------------------
.p-contents:hover {
  transform: scale(1.02);
  transition: .3s;
}