$bgSetList: takeout takeout, eat-in eat-in;
@each $bgSet in $bgSetList {
  .p-contents.#{nth($bgSet,1)} {
    background-image: url('#{$imgPath}home_#{nth($bgSet,2)}.png');
    background-size: 120%, contain;
    background-position: center;
  }
}


.p-contents {
  width: $img-width;
  h2 {
    position: relative;
    font-size: 41px;
    @include font-robotto;
    color: $contents-color;

    // タイトル下のライン
    &::before {
      grid-column: 2;
      grid-row: 3 / 4;

      @include giji-line;
      background-color: $contents-color;
      width: 30px;
      height: 5px;
      margin: 60px 0;
    }
  }
}

.archive {
  .p-contents {
    background-color: $card-fcolor;
    h2 {
      font-size: 25px;

      &::before {
        display: none;
      }
    }
  }
}
