.p-contents {

  h2 {
    font-size: 41px;
    @include font-robotto;
    position: relative;
    color: #ffffff;
  }

  // タイトル下のライン
  h2::before {
    width: 30px;
    height: 5px;
    grid-column: 2;
    grid-row: 3 / 4;
    @include giji-line;
    background-color: #ffffff;
    margin: 60px 0;
  }
}