.p-footer {
  background-image: url(#{$imgPath}footer.png);
  background-size: 100%;
  color: $footer-color;

  li {
    font-size: 20px;
  }

    // リストとリストの真ん中の線
    li:first-child::after {
      position: absolute;
      display: inline-block;
      background-color: $footer-color;
      content: '';
      width: 1.5px;
      height: 18px;
      margin-top: 6px;
      margin-left: 10px;
    }

  small {
    display: block;
    font-size: 14px;
  }
}