.p-footer {
  background-image: url(#{$imgPath}footer.png);
  background-size: 100%;
  color: $footer-color;


  li {
    font-size: 20px;
    position: relative;
  }

    // リストとリストの真ん中の線
    li:first-child::after {
      position: absolute;
      display: inline-block;
      background-color: $footer-color;
      content: '';
      width: 1.5px;
      height: 18px;
      top: 0;
      bottom: 0;
      left: 6.5em;
      margin: auto;
    }

  small {
    display: block;
    font-size: 14px;
  }
}