.p-mainvisual {
  position: relative;

  img {
    width: 100vw;
    height: 100%;

    @include breakpoint( pc ) {
      width: 100%;
      height: auto;
    }
  }
}


// -------------------------
// アーカイブ：画像色と改行設定
// -------------------------
.archive,
.search {
  .p-mainvisual {
    display: grid;
    position: relative;

    img {
      grid-row: 1;
      width: 160%;
      filter: brightness(50%);// 画像を暗くする

      @include breakpoint( tablet ) {
        width: 100%;
      }
    }
  }
}




// -------------------------
// シングル・ページ：画像サイズ
// -------------------------
.single,
.page {
  .p-mainvisual {
    @include breakpoint( tablet ) {
    width: 100%;
    height: 100%;
    }

    @include breakpoint( pc ) {
      height: auto;

      img {
        height: 100%;
        max-width: 100%;
      }
    }
  }
}







// -----------------------------------------
// 画像の繰り返し配置:backgroundの場合
// -----------------------------------------
// $bgMainList: home mainvisual, archive mainvisual, archive_search mainvisual, single mainvisual, page mainvisual;
// @each $bgMain in $bgMainList {
//   .#{nth($bgMain,1)} .p-mainvisual {
//     background-image: url('#{$imgPath}#{nth($bgMain,1)}_#{nth($bgMain,2)}.png');
//     background-size: 105% 100%, cover;
//     background-position: center;
//   }
// }


// $bgMain_pcList: home mainvisual_pc, archive mainvisual_pc, archive_search mainvisual_pc, single mainvisual_pc, page mainvisual_pc;
// @include breakpoint( pc ) {
//   @each $bgMain_pc in $bgMain_pcList {
//     .#{nth($bgMain_pc,1)} .p-mainvisual {
//       background-image: url('#{$imgPath}#{nth($bgMain_pc,1)}_#{nth($bgMain_pc,2)}.png');
//       background-size: auto 100%, cover;
//     }
//   }
// }
