.p-post {
  width: 100%;
  display: grid;
  grid-template-rows: 70px 35px auto auto 20px;
  padding: 40px;

  h2 {
    grid-row: 1;
    align-self: end;
    font-size: 28px;
  }

  p {
    grid-row: 3;
    font-size: 16px;
    line-height: 1.5;
  }

  &__cont {
    grid-row: 4;
    margin-top: 20px;

    &--ttl {
      margin-top: 20px;
    }
  }
}


// --------------------------------
// blockquote
// --------------------------------
.p-post {
  &__blockquote {
    margin-top: 20px;
    padding: 35px;

    position: relative;
    box-sizing: border-box;
    @include font-mplus--regular;
    font-size: 16px;
    background: $block-quote-bg;
    color: $block-quote;

    p {
      line-height: 1.7;
    }

    &--cite {
      padding-top: 40px;
      display: block;
      font-style: normal;// 斜体にしない

      a {
        text-decoration: underline;
      }
    }
  }
}