.p-post {
  --marginB: 20px;

  .wp-block-quote,
  .wp-block-table,
  .wp-block-group,
  .wp-block-columns,
  .wp-block-media-text__media {
    margin-bottom: var(--marginB);
    width: calc(100vw - (var(--side) * 2));

    @include breakpoint( pc ) {
      --side: 40px;
      width: calc(100vw - #{$sidebar-width-pc} - var(--side)*2);
    }
  }


  p,
  h2 {
    margin-bottom: var(--marginB);
  }


  .wp-block-button {
    margin-bottom: 50px;
  }
}





