  // .c-grid:７rows
  // 1:ヘッダー
  // 2:メインビジュアル
  // 3:余白
  // 4:メイン
  // 5:余白
  // 6:アクセス　<-----------ココ
  // 7:フッター

.l-access {
  grid-column: 1 / -1;
  grid-row: 6;// c-gridの中の6行目

  height: 691px;
  grid-template-rows: 415px 1fr;// テキストボックスh415＆残り1fr
  display: grid;

  &__txtbox {
    line-height: 2;
    overflow: scroll;
    background-color: $access-bgcolor;
    opacity: 0.6;

    --side: 40px;
    display: grid;
    grid-template-columns: var(--side) auto var(--side);
    grid-template-rows: 80px 30px auto;

    h2 {
      grid-column: 2;
      grid-row: 1;
      align-self: flex-end;
    }

    p {
      grid-column: 2;
      grid-row: 3;
    }
  }

  &__space {
    background-color: $access-bgcolor;
    opacity: 0.3;
  }
}



