.l-feature {
  --side: 20px;

  &__eye-catch {
    width: calc(100vw - (var(--side) * 2));
    height: 124px;
  }

  &__last-img {
    display: grid;
    grid-template-rows: 15px auto 30px;
    justify-content: center;

    &--wrap {
      grid-row: 2;
      width: 270px;
      height: 170px;
    }
      img {
        width: 100%;
        height: 100%;
      }
  }
}


.l-feature--cont {
  --side: 15px;
  display: grid;
  grid-template-columns: auto var(--side) var(--side) auto;
  grid-template-rows: 30px auto 20px;

  &__figure01,
  &__figure02 {
    width: 170px;
    height: 120px;
  }

  &__figure01 {
    grid-column: 1;
    grid-row: 2;
  }

  &__txt01 {
    grid-column: 3 / -1;
    grid-row: 2;
  }

  &__figure02 {
    grid-column: 4;
    grid-row: 2;
  }

  &__txt02 {
    grid-column: 1 / 3;
    grid-row: 2;
  }
}