  // .c-grid:７rows
  // 1:ヘッダー
  // 2:メインビジュアル
  // 3:余白
  // 4:メイン
  // 5:余白
  // 6:アクセス
  // 7:フッター　<-----------ココ
  
.l-footer {
  height: 150px;
  grid-column: 1 / -1;
  grid-row: 7;// c-gridの中の7行目
  z-index: 100;// pc用のため

  &__wrapper {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  ul {
    gap: 20px;
  }
}

