.l-mainvisual{
  grid-column: 1 / -1;
  grid-row: 2;

  height: 285px;
  width: 100%;

  --side: 25px;
  display: grid;
  grid-template-columns: var(--side) auto var(--side);
  grid-template-rows: repeat(3, auto);
  align-content: center;


  h1 {
    grid-column: 2;
    grid-row: 2;
  }
}
