  // .c-grid:７rows
  // 1:ヘッダー
  // 2:メインビジュアル　<-----------ココ
  // 3:余白
  // 4:メイン
  // 5:余白
  // 6:アクセス
  // 7:フッター

.l-mainvisual{
  grid-column: 1 / -1;
  grid-row: 2;// c-gridの中の2行目

  width: 100%;
  height: 100%;
  object-fit: cover;

  @include breakpoint( tablet ) {
    grid-column: 1 / -1;
  }

  @include breakpoint( pc ) {
    grid-column: 1 / -2;
    width: calc(100vw - #{&$sidebar-width-pc});
    object-position: right;
  }
}


// -------------------------
// アーカイブ
// -------------------------
.archive,
.search {
  .l-mainvisual {
    object-position: left;
  }
}


// -------------------------
// シングル・ページ：画像枠のサイズ
// -------------------------
.single,
.page {
  .l-mainvisual {
    // height: $mv-single-height-sp;
    height: 100%;


    @include breakpoint( tablet ) {
      height: $mv-single-height-tab;
    }

    @include breakpoint( pc ) {
      height: $mv-single-height-pc;
    }
  }
}

