// ------------------------------
// サイドバーの中身
// ------------------------------
.l-sidebar {
  width: 100vw;
  right: 100%;// 右に隠す
  overflow-y: scroll;// 縦スクロール

  position: absolute;// これがないと固定されちゃう
  top: 0;// 一番上にもってくる
  bottom: 0;// これないとスクロールできない
  z-index: 200;

  background: linear-gradient(90deg, rgba($sidebox-bgcolor, 0.3) 0%, rgba($sidebox-bgcolor, 0.5) 10%, $sidebar-color 10%, $sidebar-color 100%);
  padding-top: 150px;
  padding-left: 15%;
  padding-bottom: 100vh;

  &__xbtn {
    position: absolute;
    top: 5%;
    right: 10%;
  }
}



// ------------------------------
// js連動:::is-openになったら……
// ------------------------------
// サイドバーを開く
.is-open .l-sidebar {
  right: 0;
}

// ボディは固定する
body.is-open {
  position: fixed;
}



// ------------------------------
// レスポンシブ
// ------------------------------
.l-sidebar {
  @include breakpoint( tablet ){
    background: linear-gradient(90deg, rgba($sidebox-bgcolor, 0.3) 0%, rgba($sidebox-bgcolor, 0.5) 40%, $sidebar-color 40%, $sidebar-color 100%);
    padding-left: 45%;
  }

  @include breakpoint( pc ){
    grid-column: 4;
    grid-row: 1 / -1;

    right: 0;
    width: $sidebar-width-pc;
    overflow-y: visible;// 縦スクロール無し
    z-index: unset;
    background: $sidebar-color;
    padding-left: 20px;

    // 下まで伸ばすために余白をとって、親要素でoverflow:hiddenをする
    padding-bottom: 32768px;
    margin-bottom: -32768px;

    &__xbtn {
      display: none;
    }
  }
}
