// ------------------------------
// サイドバーの中身
// ------------------------------
.l-sidebar {
  width: 100vw;
  left: 100%;// 左に隠す
  overflow-y: scroll;// 縦スクロール

  position: absolute;// これがないと固定されちゃう
  top: 0;// 一番上にもってくる
  bottom: 0;// これないとスクロールできない
  z-index: 200;// とりあえず一番上

  background: linear-gradient(90deg, rgba($sidebox-bgcolor, 0.3) 0%, rgba($sidebox-bgcolor, 0.5) 10%, $sidebar-color 10%, $sidebar-color 100%);
  padding-left: 15%;
  padding-bottom: 100vh;

  &__xbtn {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    right: -83%;
    border: 10px solid transparent;
    background-clip: padding-box;
  }

  &__nav {
    padding-top: 90px;
  }
}



// ------------------------------
// js連動:::is-openになったら……
// ------------------------------
// サイドバーを開く
.is-open .l-sidebar {
  left: 0;
  transform: translateX(0);
  transition: all .50s ease-out;

  &__nav li {
    transform: translateY(10px);// 縦に下がる
    transition: all .7s .2s ease-in-out;

    a {
      transition: all .5s ease-in-out;// ふわっとホバー

      &:hover {
        opacity: 0.5;// ホバーしたら半透明に
      }
    }
  }
}

// ボディは固定する
body.is-open {
  position: fixed;
}



// ------------------------------
// レスポンシブ
// ------------------------------
.l-sidebar {
  @include breakpoint( tablet ){
    background: linear-gradient(90deg, rgba($sidebox-bgcolor, 0.3) 0%, rgba($sidebox-bgcolor, 0.5) 40%, $sidebar-color 40%, $sidebar-color 100%);
    padding-left: 45%;
  }

  @include breakpoint( pc ){
    grid-column: 4;
    grid-row: 1 / -1;

    left: 0;
    width: $sidebar-width-pc;
    overflow-y: visible;// 縦スクロール無し
    z-index: unset;
    background: $sidebar-color;
    padding-left: 20px;

    // 下まで伸ばすために余白をとって、親要素でoverflow:hiddenをする
    padding-bottom: 32768px;
    margin-bottom: -32768px;

    &__xbtn {
      display: none;
    }
  }
}
