.l-sidebar {
  $bg-color: #F2EDE9;
  width: 100vw;
  left: 100%;// 左に隠す 

  display: grid;
  grid-template-columns: 45px auto;
  grid-template-rows: 215px auto auto;
  overflow-y: scroll;// 縦スクロール
  overflow-x: hidden;

  position: absolute;
  z-index: 100;


  &__gray-box {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color:rgba(#000000, 0.5);
  }

  &__ttl {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    background-color: $bg-color;

  }

  &__nav {
    grid-column: 2;
    grid-row: 2 / 3;
    background-color: $bg-color;
  }

  &__bottom {
    height: 100vh;
    grid-column: 2;
    grid-row: 3 / 4;
    background-color: $bg-color;
  }

}

// is-open時にサイドバーを開く
.is-open .l-sidebar {
  left: 0;
}
